@tailwind base;
@tailwind components;
@tailwind utilities;

.ram {
    background-image: url('/2nd img.jpg');
    background-position: center;
    background-size: cover;
    height: 37vh;
}

.img1:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.img2:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.img3:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.img4:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.sita {
    background-image: url('/5w.jpg');
    background-position: center;
    background-size: cover;
    opacity: 70%;
}


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans Condensed", sans-serif;
}

.heading {
    font-family: "Spicy Rice", serif;
}

/* subscribe */
.ra {
    background-image: url('/22.webp');
    background-position: center;
    background-size: cover;
    height: 75vh;
    width: 100%;
   
    position: relative;
}


.ra::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(143, 143, 150, 0.5); 
    z-index: 1; 
}

/* gallery */

.gall {
    background-image: url('gall.jpg');
    background-position: center;
    background-size: cover;
    height: 37vh;
}