@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    box-sizing: border-box;
    font-family:"Fira Sans Condensed", sans-serif ;
}

.heading{
    font-family: "Spicy Rice", serif;
}