@tailwind base;
@tailwind components;
@tailwind utilities;

.ram {
    background-image: url('/2nd img.jpg');
    background-position: center;
    background-size: cover;
    height: 37vh;
}

.img1:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.img2:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.img3:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.img4:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.sita {
    background-image: url('/5w.jpg');
    background-position: center;
    background-size: cover;
    opacity: 70%;
}


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans Condensed", sans-serif;
}

.heading {
    font-family: "Spicy Rice", serif;
}